// Fonts
@font-face {
    font-family: 'Muli-Medium';
    src: url('../static/fonts/Muli-Medium.eot');
    src: url('../static/fonts/Muli-Medium.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Muli-Medium.woff2') format('woff2'),
        url('../static/fonts/Muli-Medium.woff') format('woff'),
        url('../static/fonts/Muli-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Semi-Bold';
    src: url('../static/fonts/Muli-SemiBold.eot');
    src: url('../static/fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Muli-SemiBold.woff2') format('woff2'),
        url('../static/fonts/Muli-SemiBold.woff') format('woff'),
        url('../static/fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Satisfy-Regular';
    src: url('../static/fonts/Satisfy-Regular.eot');
    src: url('../static/fonts/Satisfy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Satisfy-Regular.woff2') format('woff2'),
        url('../static/fonts/Satisfy-Regular.woff') format('woff'),
        url('../static/fonts/Satisfy-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialElite-Regular';
    src: url('../static/fonts/SpecialElite-Regular.eot');
    src: url('../static/fonts/SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/SpecialElite-Regular.woff2') format('woff2'),
        url('../static/fonts/SpecialElite-Regular.woff') format('woff'),
        url('../static/fonts/SpecialElite-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


// Colors
$grey: rgba(66, 75, 84, 1);
$white: rgb(229, 224, 209);
$dark-green: rgba(57, 92, 107, 1);
$green: #115a2a;
$blue: rgba(132, 169, 192, 1);
$light-green: rgba(169, 221, 214, 1);
$dark-blue: rgba(27, 40, 69, 1);

// Bp's
$bp-large: 1024px;
$bp-medium: 800px;
$bp-small: 640px;

//Flex
@mixin display-flex($direction, $justify, $align) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
	-webkit-box-pack: $justify;
	-ms-flex-pack: $justify;
	justify-content: $justify;
	-webkit-box-align: $align;
	-ms-flex-align: $align;
	align-items: $align;
}


html {
    height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	color: #000;

	@media only screen and (max-width: $bp-small) {
		font-size: 55%;
	}
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
	font-family: 'Muli-Medium', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
	color: inherit;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./img/library1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 10rem;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 40, 69, .9);
        z-index: 0;

    }
}

main {
    padding-top: 10rem;

    @media screen and(max-width: $bp-medium) {
        padding-top: 5rem;
    }
}

h1, h2, h3, h4 {
    font-family: 'Muli-Semi-Bold', sans-serif;
    margin-top: 0;
}

h1 {
	font-size: 5rem;
	line-height: 4.5rem;
}

h3 {
    line-height: 1.5;
}

p {

    &.lead {
        font-size: 2rem;
    }
}


section {
    min-height: 20vh;
    z-index: 10;
    position: relative;
}

nav {
    position: relative;
    z-index: 10;
    text-align: right;
}

.max-width-container {
    max-width: 122rem;
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
    z-index: 10;
}

.center-top {
    @include display-flex(row, center, unset);
    padding-top: 10rem;
}

.typewriter {
    font-family: 'SpecialElite-Regular', cursive;

    span {
        border-bottom: 1px solid rgba(0,0,0,.4);
        padding-bottom: 1px;
    }
}

.paper-div {
    @include display-flex(column, unset, unset);
    position: relative;
    border-radius: 5px;
    padding: 4rem 3rem;
    color: #000;
    // height: 20rem;
    background-color: $white;
    max-width: 50rem;
    margin: 0 auto;
    z-index: 10;

    form, .form {
        padding: 0;
    }
}

.logged-in {
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 1rem;
    color: #fff;
    border: 1px solid $green;
    background-color: rgba(132, 169, 192, .2);
    border-radius: 4px;
    cursor: pointer;
}


.form {
    position: relative;
    border-radius: 5px;
    padding: 4rem 3rem;
    color: #000;
    // height: 20rem;
    background-color: $white;
    max-width: 50rem;
    margin: 0 auto;
    z-index: 10;

    &__buttons {
        @include display-flex(row, center, unset);
        margin-top: 2rem;

        @media screen and(max-width:$bp-small) {
            flex-direction: column;
        }

        .btn {
            margin: 0 10px 0 10px;
            cursor: pointer;

            @media screen and(max-width: 450px) {
                margin: 10px 0;
            }
        }
    }

    input {
        width: 87%;
        display: block;
        // max-width: 30rem;
        height: 5rem;
        padding: 0 2rem;
        margin: 0 auto 2rem auto;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.2);
    }

    &.small {
        max-width: 38rem;
        width: 100%;
    }
}

.white {
    color: $white;
}

.btn {
    width: 15rem;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    text-decoration: none;
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: #fff;
    transition: all 300ms;
    font-family: 'Satisfy-Regular', cursive;
    -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;

    &:hover {
        background-color: #1ea74d;
    }

    &.right {
        margin-left: auto;
    }
}

.text-center {
    text-align: center;
}

// Homepage
.homepage {
    
    &__hero {
        margin-bottom: 4rem;
        @include display-flex(row, unset, center);
        position: relative;
        
        &__intro {
            z-index: 10;
            color: #fff;
            max-width: 60rem;
        }
    }

    &__login__form {
        @include display-flex(column, center, center);
    }
}

//Books
.book {
    padding-top: 10rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 0;
        list-style: none;
    }

    &__card {
        padding: 2rem;
        background-color: $white;
        border-radius: 5px;
    }

    &-details {

        h1 {
            font-size: 4rem;
        }
    }

    &-details-block {
        margin-bottom: 2rem;

        h3 {
            margin-bottom: 0;
        }
    }
}

.reviews-title {
    margin-bottom: 0;
}