    {% extends "layout.html" %}

    {% block heading %}
        Book Details
    {% endblock %}

    {% block body %}


        <div class="top-center paper-div paper-div-big">
            <h1 class="typewriter">Book Details:</h1>
            <h2>{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Year: {{ book.year }}</p>
            <p>isbn: {{ book.isbn }}</p>
            {% if avg_rating %}
                <p>Goodreads AVG: {{ avg_rating }}</p>
            {% endif %}
        </div>
        <p>
            
        </p>

       
    {% endblock %}