    {% extends "layout.html" %}

    {% block heading %}
        Book Details
    {% endblock %}

    {% block body %}


        <div class="top-center paper-div paper-div-big book-details">
            <h1 class="typewriter">Book Details:</h1>
            <div class="book-details-block">
                <h3 class="typewriter">{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>Year: {{ book.year }}</p>
                <p>isbn: {{ book.isbn }}</p>
            </div>
            {% if avg_rating %}
                <div class="book-details-block">
                    <h3 class="typewriter">Goodreads data:</h3>
                    <p>Average of <strong>{{ avg_rating }}</strong> out of <strong>{{ ratings_count }}</strong> ratings.</p>
                </div>
            {% endif %}
            <hr>
            {% if reviews %}
                <h3 class="typewriter reviews-title">Reviews</h3>
            {% endif %}
            {% for review in reviews %}
                <div class="book-details-block">
                    <p>Score: {{review.stars}}/5</p>
                    <p>Review: {{review.review}}</p>
                    <p>Review by: <strong>{{ reviewsBy[loop.index0] }}</strong></p>
                </div>
                <hr>
            {% endfor %}
            {% if allowed %}
                <div class="review-toggle">
                    <h3 class="typewriter">Leave a review</h3>
                </div>
                <div class="review-wrap">
                    <form action="{{ url_for('book') }}" method="post" class="form small">
                        <p class="typewriter">Score:</p>
                        <select name="stars" id="stars">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" name="book_id" value="{{ book.id }}" />
                        <p class="typewriter">Write a review:</p>
                        <textarea name="review" id="review" cols="30" rows="10"></textarea>
                        <button class="btn right">Add Review</button>
                    </form>
                </div>
            {% endif %}
        </div>

       
    {% endblock %}