    
   {% extends "layout.html" %}
 
   {% block body %}
    <main class="homepage">
        
        <section class="homepage__hero">
            <div class="max-width-container">
                <div class="homepage__hero__intro">
                    <h1 class=>CS50 Web - Project 1</h1>
                    <p class="lead">A book Review App coded in Python, Javascript and a PostgreSQL, using the Goodreads API</p>
                </div>
            </div>
        </section>

        <section class="homepage__login__form form">
            <h3 class="typewriter">Please <span>LOG IN</span> or <span>REGISTER</span> to search and review Books:</h3>
            <div class="form__buttons">
                <a class="btn" href="{{ url_for('login') }}">Log in</a>
                <a class="btn" href="{{ url_for('register') }}">Register</a>
            </div>
        </section>
    </main>

    
        <!-- <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, rerum maiores! Corporis sapiente quia labore reiciendis ullam placeat quis. Dignissimos, doloribus quas? Ratione reiciendis, harum aut delectus commodi totam necessitatibus.
        </p>

        {% if loggedIn %}
            <h1>Hello {{ name }}</h1>

            <form action="{{ url_for('index') }}" method="post">
                <input type="text" name="book" placeholder="search book">
                <button>Search</button>
            </form>

            <p>List of results</p>
            <ul>
                {% for book in books %}
                    <li>
                        <!-- create here the url to the "single book" page -->
                        <a href="{{ url_for('book', title=book.title) }}">
                            {{ book.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul> -->

            <!-- <p>Your list of reviewed books:</p>
            <ul>
                {% for book in books %}
                    <li>{{ book }}</li>
                {% endfor %}
            </ul> -->

            


        {% else %}
            <h1>Please <a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">Register</a></h1>
        {% endif %}
    
    {% endblock %}