<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS50 Project 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <div class="max-width-container">
            {% if username %}
                <a href="{{ url_for('logout') }}">
                    <div class="logged-in">
                        <span><i class="fas fa-user"></i> {{ username }}</span>
                        <span> - Logout</span>  
                    </div>
                </a>
            {% endif %}
        </div>
    </nav>
    <main> 
        {% block body %}   
            <!-- HTML Blocks for templates, reusable pages with dynamic content -->
        {% endblock %}
    </main>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
</body>
</html>