    {% extends "layout.html" %}

    {% block heading %}
        Log In
    {% endblock %}

    {% block subtitle %}
        Log In Template
    {% endblock %}

    {% block body %}
  
        <div>
            <form action="{{ url_for('login') }}" method="post">
                <h1>Log in to your account</h1>
                <input type="text" name="name" placeholder="Enter Your Name">
                <input type="password" name="password" placeholder="Enter password">
                <button>Login</button>
            </form>
        </div>
    
    {% endblock %}