    {% extends "layout.html" %}

    {% block heading %}

    {% endblock %}

    {% block body %}
        <p>
           A route to display the books a user has submitted, or maybe saved?
        </p>

        <div class="top-center paper-div paper-div-big">
            <h2 class="typewriter">
                Hello {{ username }}!
            </h2>
            <p>&nbsp;&nbsp;Here you can search for books in our database, see their average review on Goodreads and leave your own review:</p>
            <p>User id = {{ user_id }}</p>

            <div class="text-center">
                <form action="{{ url_for('user') }}" method="post" class="form small">
                    <input type="text" name="booksearch" placeholder="Search for a books isbn, name, author...">
                    <button class="btn right">Search</button>
                </form>
            </div>
        </div>

        <ul>
            {% for book in userBooks %}
            <li>{{ book }}</li>
            {% endfor %}
        </ul>
       
    {% endblock %}